body {
    background: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

button {
    border: none;
    background: none;
    outline: none;
    text-transform: uppercase;
    /* Set button size to fille the height of the container */
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;


    /* CSS style effector for hovering effects */
    transition: all 0.5s;
    /* Browswer friendly transition - Safari & Firefox */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

button:hover {
    background: steelblue;
    color: white;
}

.head h1 {
    color: white;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    width: 100%;
    padding: 20px 0;
    /* Initial color for background */
    background: steelblue;
    margin: 0;
    
}


.square {
    /* background: purple; */
    width: 30%;
    padding-bottom: 30%;
    margin: 1%;    
    float: left;

    /* Apply aesthetic changes to square */
    border-radius: 15%; /* Gives rounded edges */
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;

}

.sub-head {
    background: white;
    text-align: center;
    height: 30px;
    width: 100%;
}

.selected {
    background-color: steelblue;
    color: white;
}

.wrong {
    background: #232323;
    width: 30%;
    padding-bottom: 30%;
    margin: 1%;    
    float: left;
}


#container {
    max-width: 600px;
    /* centers content in the middle of the screen and adds some space at top and bottom */
    margin: 20px auto;
}

#goal-color {
    font-size: 4rem;
}


#feedback {
    color: black;
    display: inline-block;
    width: 20%;
}
